<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Professional Web App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="login-container">
        <h1 class="login-title">Sign Up</h1>
        <form method="POST">
            <div class = "form-group">
                <label for="email">Email Address</label>
                <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter email"
              />
            </div>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  name="firstName"
                  placeholder="Enter first name"
                />
              </div>
              <div class="form-group">
                <label for="password1">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password1"
                  name="password1"
                  placeholder="Enter password"
                />
              </div>
              <div class="form-group">
                <label for="password2">Password (Confirm)</label>
                <input
                  type="password"
                  class="form-control"
                  id="password2"
                  name="password2"
                  placeholder="Confirm password"
                />
              </div>
              <br />
              <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% if error %}
        <p class="login-message">{{ error }}</p>
        {% endif %}
        <p class="login-message">Already have an account? <a href="{{ url_for('auth.login') }}">Login</a></p>
    </div>
</body>
</html>